@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

:root{
  --primary-white: #fff;
  --primary-yellow: #FFFF00;
  --primary-dark: rgba(255,255,255,0);
}


body{
  font-family: 'Roboto Condensed', sans-serif;
}

/******************* NAVBAR **************************/
.logo{
  width: 12.25rem;
}

nav a.nav-link{
  /* font-weight: 500; */
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li{
  text-transform: uppercase;
}

.navbar-nav > li > a{
  color: var(--primary-white) !important;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  border-top: .1875rem solid var(--primary-dark);
}

.navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;
  height: 4.6rem !important;
}

.navbar-nav > li > a.active, .navbar-nav > li > a.active:active {
  border-top: .1875rem solid var(--primary-yellow);
}

.navbar-nav > li > a:hover {
  border-top: .1875rem solid var(--primary-yellow);
}